body {
    background-color: rgb(160, 107, 191);
}

#title {
    color: white;
    font-size:xx-large;
}

.cont {
    background-color: white;
    border-radius: 15px;
    padding: 5%;
    border-right-style: solid;
    border-color: rgb(101, 2, 166);
}

blockquote {
    background-color: lightgrey;
    padding: 2%;
    font-style: italic;
    font-size: large;
}

.arrow {
    border: solid rgb(101, 2, 166);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a:link {
    color: goldenrod;
    text-decoration: none;
}

a:visited {
    color: rgb(146, 105, 0);
    text-decoration: none;
}

a:hover {
    color: rgba(218, 165, 32, 0.642);
    text-decoration: none;
}

a:active {
    color: rgb(135, 97, 2);
    text-decoration: none;
}

h2 {
  border-bottom-style: solid;
  text-align: center;
  padding-bottom: 3%;
}

img {
  display: block;
  box-sizing: border-box;
  width: 30%;
  margin: 30px auto 30px auto;
}

#sideimg {
  width: 70%;
}

#home {
  margin: 0;
  margin-left: 20%;
}

footer {
  text-align: center;
  height: 50px;
}

footer p {
  color: gray;
  padding: 10px;
}

#sticky {
  top: 20%;
  height: 70vh;
}